.default-region {
  position: fixed; }

.mp-ledger-instruction {
  position: fixed;
  left: 6.5vw;
  top: 10.8333333333333vh;
  width: 49.625vw;
  height: 20.8333333333333vh; }

.mp-ledger-info {
  position: fixed;
  left: 6.5vw;
  top: 89.5vh;
  width: 49.625vw;
  height: 10.5vh; }

.media-insert-video {
  position: fixed;
  left: 2.5vw;
  top: 16.6666666666667vh;
  width: 49.125vw;
  height: 64.5vh; }

.wizard-double-box {
  position: fixed;
  left: 3.125vw;
  top: 22.5vh;
  width: 51.125vw;
  height: 74.5vh; }

.wizard-single-box {
  position: fixed;
  left: 7.75vw;
  top: 24.5vh;
  width: 41.875vw;
  height: 70.5vh; }

.insert-prompt {
  position: fixed;
  left: 3.75vw;
  top: 5vh;
  width: 96.25vw;
  height: 20vh; }

.message1, .message2, .message3, .message4, .message5, .message6, .message7, .message8, .message9, .message10, .message11, .message12, .message13, .message14, .message15, .message16 {
  left: 0;
  position: fixed;
  width: 100vw; }

.message1 {
  height: 6.46666666666667vh;
  top: 6.26667vh; }

.message2 {
  height: 6.46666666666667vh;
  top: 13.53333vh; }

.message3 {
  height: 0.733333333333333vh;
  top: 20.8vh; }

.message4 {
  height: 0.733333333333333vh;
  top: 26.03333vh; }

.message5 {
  height: 0.733333333333333vh;
  top: 31.26667vh; }

.message6 {
  height: 0.733333333333333vh;
  top: 36.5vh; }

.message7 {
  height: 0.733333333333333vh;
  top: 41.73333vh; }

.message8 {
  height: 0.733333333333333vh;
  top: 46.96667vh; }

.message9 {
  height: 0.733333333333333vh;
  top: 52.2vh; }

.message10 {
  height: 0.733333333333333vh;
  top: 57.43333vh; }

.message11 {
  height: 0.733333333333333vh;
  top: 62.66667vh; }

.message12 {
  height: 0.733333333333333vh;
  top: 67.9vh; }

.message13 {
  height: 0.733333333333333vh;
  top: 73.13333vh; }

.message14 {
  height: 0.733333333333333vh;
  top: 78.36667vh; }

.message15 {
  height: 0.733333333333333vh;
  top: 83.6vh; }

.message16 {
  height: 0.733333333333333vh;
  top: 88.83333vh; }

.cm-message6 {
  position: fixed;
  left: 0px;
  top: 46.6666666666667vh;
  width: 100vw;
  height: 13.3333333333333vh; }

.t11 {
  position: fixed;
  left: 0px;
  top: 35vh;
  width: 100vw;
  height: 33.7333333333333vh; }

.t12 {
  position: fixed;
  left: 0px;
  top: 35vh;
  width: 100vw;
  height: 48.7333333333333vh; }

.t14 {
  position: fixed;
  left: 0px;
  top: 35vh;
  width: 100vw;
  height: 62.9333333333333vh; }

.t15 {
  position: fixed;
  left: 0px;
  top: 35vh;
  width: 100vw;
  height: 17.9333333333333vh; }

.t16 {
  position: fixed;
  left: 0px;
  top: 21.6666666666667vh;
  width: 100vw;
  height: 13.3333333333333vh; }

.t17 {
  position: fixed;
  left: 0px;
  top: 20vh;
  width: 100vw;
  height: 32.5vh; }

.t19 {
  position: fixed;
  left: 0px;
  top: 18.3333333333333vh;
  width: 100vw;
  height: 65.4vh; }

.t20 {
  position: fixed;
  left: 0px;
  top: 18.3333333333333vh;
  width: 100vw;
  height: 20.4vh; }

.t23 {
  position: fixed;
  left: 0px;
  top: 21.6666666666667vh;
  width: 100vw;
  height: 13.3333333333333vh; }

.t24 {
  position: fixed;
  left: 0px;
  top: 21.6666666666667vh;
  width: 100vw;
  height: 13.3333333333333vh; }

.t27 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 12.9333333333333vh; }

.t31 {
  position: fixed;
  left: 0px;
  top: 26.6666666666667vh;
  width: 100vw;
  height: 73.3333333333333vh; }

.t32 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 12.9333333333333vh; }

.es {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 16.2666666666667vh; }

.em {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 24.6vh; }

.el {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 32.9333333333333vh; }

.t01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh; }

.pr2menu-prompt {
  position: fixed;
  left: 0px;
  top: 18.3333333333333vh;
  width: 100vw;
  height: 28.7333333333333vh; }

.dpprepare-prompt {
  position: fixed;
  left: 0px;
  top: 32.5vh;
  width: 100vw;
  height: 26.6666666666667vh; }

.t04 {
  position: fixed;
  left: 0px;
  top: 87.7vh;
  width: 100vw;
  height: 10.8333333333333vh; }

.attention {
  position: fixed;
  left: 6.375vw;
  top: 8.83333333333333vh;
  width: 86.25vw;
  height: 19.3333333333333vh; }

.check-items-count,
.check-items-deposit-count,
.check-items-returned-count {
  top: calc(100vh / 3000 * 2775); }

.edit-check-amount-box,
.correct-amount-prompt {
  top: calc(100vh / 3000 * 1750); }

.enter-amount {
  top: calc(100vh / 3000 * 1800); }

.slider {
  line-height: calc(100vh / 3000 * 400); }

.cash-summary-background {
  height: calc(100vh / 3000 * 2400); }

.t23-Change-Pin {
  position: fixed;
  left: 0px;
  top: 21.6666666666667vh;
  width: 100vw;
  height: 13.3333333333333vh; }

.screen {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 16vw;
  height: 16vh; }

.message1, .message2, .message3, .message4, .message5, .message6, .message7, .message8, .message9, .message10, .message11, .message12, .message13, .message14, .message15, .message16 {
  width: 16vh; }

.message1 {
  top: 1vh; }

.message2 {
  top: 2.33333vh; }

.message3 {
  top: 3.66667vh; }

.message4 {
  top: 4.5vh; }

.message5 {
  top: 5.33333vh; }

.message6 {
  top: 6.16667vh; }

.message7 {
  top: 7vh; }

.message8 {
  top: 7.83333vh; }

.message9 {
  top: 8.66667vh; }

.message10 {
  top: 9.5vh; }

.message11 {
  top: 10.33333vh; }

.message12 {
  top: 11.16667vh; }

.message13 {
  top: 12vh; }

.message14 {
  top: 12.83333vh; }

.message15 {
  top: 13.66667vh; }

.message16 {
  top: 14.5vh; }

.entry {
  top: 3.33333333333333vh;
  width: 16vw;
  height: 1.03333333333333vh; }

ph-fdk {
  width: 7.825vw;
  height: 2.13333333333333vh; }

[ph-position="101"],
[ph-position="201"] {
  top: 5.43333333333333vh; }

[ph-position="102"],
[ph-position="202"] {
  top: 8.16666666666667vh; }

[ph-position="103"],
[ph-position="203"] {
  top: 10.9vh; }

[ph-position="104"],
[ph-position="204"] {
  top: 13.6333333333333vh; }

.t10, .t11, .t13, .t14, .t15,
.t29 {
  top: 5.6vh; }

.t16, .t17, .t18, .t20, .t21,
.t22, .t23, .t24, .t26, .t30,
.pr2menu-prompt {
  top: 2.93333333333333vh; }

.t04, .t10, .t11, .t12, .t13,
.t14, .t15, .t16, .t17, .t18,
.t19, .t20, .t21, .t22, .t23,
.t24, .t25, .t26, .t27, .t28,
.t29, .t30, .t31, .t32, .t33,
.t34, .es, .em, .el,
.pr2menu-prompt,
.dpprepare-prompt {
  width: 16vw; }

.t16, .t23, .t24, .t26 {
  height: 2.13333333333333vh; }

.t04 {
  top: 14.0333333333333vh;
  height: 1.73333333333333vh; }

.t10 {
  height: 2.53333333333333vh; }

.t11 {
  height: 5.4vh; }

.t12 {
  height: 7.8vh; }

.t13 {
  height: 1.26666666666667vh; }

.t14 {
  height: 10.0666666666667vh; }

.t15 {
  height: 2.86666666666667vh; }

.t17 {
  height: 5.2vh; }

.t18 {
  height: 8.06666666666667vh; }

.t19 {
  top: 3.26666666666667vh;
  height: 10.4666666666667vh; }

.t20 {
  height: 3.26666666666667vh; }

.t21 {
  height: 12.7333333333333vh; }

.t22 {
  height: 4.6vh; }

.t27 {
  height: 2.06666666666667vh; }

.t28 {
  height: 1.56666666666667vh; }

.t29 {
  height: 1.66666666666667vh; }

.t30 {
  height: 8.06666666666667vh; }

.t31 {
  top: 4.26666666666667vh;
  height: 11.7333333333333vh; }

.t32 {
  height: 2.06666666666667vh; }

.es {
  height: 2.6vh; }

.em {
  height: 3.93333333333333vh; }

.el {
  height: 5.26666666666667vh; }

.pr2menu-prompt {
  height: 4.6vh; }

.dpprepare-prompt {
  top: 5vh;
  height: 0.733333333333333vh; }

/*# sourceMappingURL=cableprint.css.map */