/*  Global variables, used for changing regions or interaction methods
*/
/*  REFERENCE:		base/_backgrounds.scss
 *  DESCRIPTION:	Defines variables that set the global backgrounds.
*/
/*
$ph-back01: url(../../../Media/default/back01.png);
$ph-dfan: url(../../../Media/default/dfan.png);
$ph-fmsr: url(../../../Media/default/FMSR.png);
$ph-fmsl: url(../../../Media/default/FMSL.png);
$ph-fmgl: url(../../../Media/default/fmgl.png);
$ph-el: url(../../../Media/default/EL.png);
$ph-opback01: url(../../../Media/default/opback01.png);
$ph-dffn: url(../../../Media/default/dffn.png);
$ph-arrowrdn: url(../../../Media/default/ArrowRdn.png);
$ph-arrowrup: url(../../../Media/default/ArrowRup.png);
$ph-fssl: url(../../../Media/default/FSSL.png);
$ph-flsr: url(../../../Media/default/flsr.png);
$ph-flgr: url(../../../Media/default/flgr.png);
$ph-ef2: url(../../../Media/default/EF2.png);
$ph-fssr: url(../../../Media/default/FSSR.png);
$ph-es: url(../../../Media/default/ES.png);
$ph-fmgr: url(../../../Media/default/fmgr.png);
$ph-highlight-fmsl: url(../../../Media/default/highlight/FMSL.png);
$ph-highlight-fmsr: url(../../../Media/default/highlight/FMSR.png);
$ph-dfhn: url(../../../Media/default/dfhn.png);
$ph-dfpn: url(../../../Media/default/dfpn.png);
$ph-patr: url(../../../Media/default/patr.png);
$ph-ef6: url(../../../Media/default/ef6.png);
$ph-ef1: url(../../../Media/default/EF1.png);
$ph-dfcn: url(../../../Media/default/dfcn.png);
$ph-highlight-fssl: url(../../../Media/default/highlight/FSSL.png);
$ph-panel-pos: url(../../../Media/default/panel_pos.png);
$ph-panel-nol: url(../../../Media/default/panel_noL.png);
$ph-ef4: url(../../../Media/default/ef4.png);
$ph-fmsr-new: url(../../../Media/default/fmsr_new.png);
$ph-envelope-graphic: url(../../../Media/default/envelope_graphic.png);
$ph-highlight-fssr: url(../../../Media/default/highlight/FSSR.png);
$ph-blue-bar-alert: url(../../../Media/default/blue_bar_alert.png);
$ph-medium-graphic-icons-env: url(../../../Media/default/medium_graphic_icons_env.png);
$ph-fmsr-2: url(../../../Media/default/fmsr_2.png);
$ph-highlight-fmsr-2: url(../../../Media/default/highlight/fmsr_2.png);
$ph-summary-screen-box: url(../../../Media/default/summary_screen_box.png);
$ph-pachek-bc: url(../../../Media/default/pachek_bc.png);
$ph-deposit-summary-box: url(../../../Media/default/deposit_summary_box.png);
$ph-large-graphic-icons: url(../../../Media/default/large_graphic_icons.png);
$ph-red-box: url(../../../Media/default/red_box.png);
$ph-yellow-box: url(../../../Media/default/yellow_box.png);
$ph-green-box: url(../../../Media/default/green_box.png);
$ph-large-checkbox-accepted: url(../../../Media/default/large_checkbox_accepted.png);
$ph-em: url(../../../Media/default/EM.png);
$ph-amount-recognized: url(../../../Media/default/amount_recognized.png);
$ph-large-checkbox-rejected: url(../../../Media/default/large_checkbox_rejected.png);
$ph-keyblnk: url(../../../Media/default/keyblnk.png);
$ph-box1: url(../../../Media/default/Box1.png);
$ph-sds: url(../../../Media/default/SDS.png);
$ph-sdtr: url(../../../Media/default/SDTR.png);
$ph-enters: url(../../../Media/default/ENTERS.png);
$ph-entertr: url(../../../Media/default/ENTERTR.png);
$ph-clears: url(../../../Media/default/CLEARS.png);
$ph-cleartr: url(../../../Media/default/CLEARTR.png);
$ph-cancels: url(../../../Media/default/CANCELS.png);
$ph-canceltr: url(../../../Media/default/CANCELTR.png);
$ph-backspace: url(../../../Media/default/Backspace.png);
$ph-fsgr: url(../../../Media/default/fsgr.png);
$ph-fsgl: url(../../../Media/default/fsgl.png);
$ph-ef3: url(../../../Media/default/ef3.png);
$ph-tyl: url(../../../Media/default/tyl.png);
$ph-initial: url(../../../Media/default/initial.png);
$ph-attention: url(../../../Media/default/attention.png);
$ph-billmix-plus: url(../../../Media/default/fssr_plus.png);
$ph-billmix-minus: url(../../../Media/default/fssl_minus.png);
$ph-billmix-plus-response: url(../../../Media/default/fssr_plus_response.png);
$ph-billmix-minus-response: url(../../../Media/default/fssl_minus_response.png);
$ph-billmix-plus-touch: url(../../../Media/Touch/default/fssr_plus.png);
$ph-billmix-minus-touch: url(../../../Media/Touch/default/fssl_minus.png);
$ph-billmix-plus-touch-response: url(../../../Media/Touch/default/fssr_plus_response.png);
$ph-billmix-minus-touch-response: url(../../../Media/Touch/default/fssl_minus_response.png);

// Variables not generated by HTML converter tool
$ph-back-icon: url(../../../Media/default/back_icon.png);
$ph-large-check-box: url(../../../Media/default/large_check_box.png);
$ph-zoombox-edit: url(../../../Media/default/zoombox_edit.png);
$ph-scrollbar: url(../../../Media/default/scrollbar.png);
$ph-scrollbar-arrow-R: url(../../../Media/default/scrollbar_arrow_R.png);
$ph-scrollbar-arrow-L: url(../../../Media/default/scrollbar_arrow_L.png);
$ph-error: url(../../../Media/default/error.png);
$ph-amount-error: url(../../../Media/default/amount_error.png)
*/
.btn-left, .btn-left-xl, .btn-left-lg, .btn-left-md, .btn-left-sm, .btn-left-xs, .btn-right, .btn-right-xl, .btn-right-lg, .btn-right-md, .btn-right-sm, .btn-right-xs {
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  font-size: 5.55555555555556vh;
  height: 11.3333333333333vh;
  line-height: 11.3333333333333vh;
  position: fixed; }

.btn-left, .btn-left-xl, .btn-left-lg, .btn-left-md, .btn-left-sm, .btn-left-xs {
  background: linear-gradient(to bottom, #38c4f4, #138ebd 70%, #0db3ec);
  border-radius: 15px;
  box-shadow: -2px 5px 5px 2px #35c0ec inset, 0 5px #186682 inset;
  left: 2vw;
  margin: 1vh 1vw 1vh 0;
  padding-left: 3vw;
  padding-right: 2vw; }
  .btn-left::before, .btn-left-xl::before, .btn-left-lg::before, .btn-left-md::before, .btn-left-sm::before, .btn-left-xs::before {
    visibility: hidden;
    padding: 0 0 0 0.5vw; }
  .btn-left:hover, .btn-left-xl:hover, .btn-left-lg:hover, .btn-left-md:hover, .btn-left-sm:hover, .btn-left-xs:hover {
    background: linear-gradient(to bottom, #68d2f7, #1bafe8 70%, #38c4f4); }
  .btn-left-xl {
    width: 74.4vw; }
  .btn-left-lg {
    width: 46.9vw; }
  .btn-left-md {
    width: 34.9vw; }
  .btn-left-sm {
    width: 19.4vw; }
  .btn-left-xs {
    width: 9vw; }

.btn-right, .btn-right-xl, .btn-right-lg, .btn-right-md, .btn-right-sm, .btn-right-xs {
  background: linear-gradient(to bottom, #38c4f4, #138ebd 70%, #0db3ec);
  border-radius: 15px;
  box-shadow: 2px 5px 5px 2px #35c0ec inset, 0 5px #186682 inset;
  margin: 1vh 0 1vh 1vw;
  right: 2vw;
  padding-left: 2vw;
  padding-right: 3vw;
  text-align: right; }
  .btn-right::after, .btn-right-xl::after, .btn-right-lg::after, .btn-right-md::after, .btn-right-sm::after, .btn-right-xs::after {
    display: none;
    content: ''; }
  .btn-right:hover, .btn-right-xl:hover, .btn-right-lg:hover, .btn-right-md:hover, .btn-right-sm:hover, .btn-right-xs:hover {
    background: linear-gradient(to bottom, #68d2f7, #1bafe8 70%, #38c4f4); }
  .btn-right-xl {
    width: 74.4vw; }
  .btn-right-lg {
    width: 46.9vw; }
  .btn-right-md {
    width: 34.9vw; }
  .btn-right-sm {
    width: 19.4vw; }
  .btn-right-xs {
    width: 9vw; }

#leftArrow::before, #rightArrow::after {
  font-family: 'Glyphicons Halflings';
  content: '\e072';
  visibility: visible; }

.slider, .slider:hover {
  background: transparent;
  box-shadow: none;
  height: calc(100vh / 3000 * 550); }

.textbox-fmsl-1of2,
.textbox-fmsl-2of2 {
  left: auto; }

/*# sourceMappingURL=fdk_touch.css.map */